.wrapper
	.widget
		.widget__photo
		.widget__button
			More details

		.widget__details
			.widget__badges
				.widget__badge
					$$$$
				.widget__badge.widget__badge--rating
					4.3
			.widget__name
				Prospect Restaurant
			.widget__type
				Cafe, Bakery
			.widget__info
				%span
					193 Fairchild Drive, Mountain View - CA
				%span
					15 minute walk
			.widget__hidden
				%hr
				%table.widget__table
					%tr
						%td
							Type
						%td
							Brunch, Lunch, Dinner
					%tr
						%td
							Alcohol
						%td
							Cocktails
					%tr
						%td
							Credit-cards
						%td
							Yes
					%tr
						%td
							Wi-Fi
						%td
							Yes
					%tr
						%td
							Outdoor Seating
						%td
							No
