.content-form-publica{
	padding-top: 20px;
}
.font-publica{
	font-family: 'Sansita One', cursive;
}
.text-info-publica{
	position: relative;
	padding: 20px;
	text-align: justify;
}
.inicio-text{
	position: absolute;
	top: -40px;
	font-size: 5em;
	font-family: 'Sansita One', cursive;
	padding: 0;
}
.radio-icon{
	position: relative;
	height: 250px;
}
.icon-logo-unete{
	position: absolute;
	font-size: 3.5em;
	top: 50%;
	margin-top: -25.1px;
	left: 50%;
	margin-left: -25.1px;
}
.radio-div{
	position: absolute;
	width: 150px;
	height: 150px;
	background: black;
	border-radius: 75px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	color: white;
}
.texto-card-sevices{
	position: relative;
	width: 100%;
	padding: 10px 20px 0 20px;
	text-align: center;
}
.margin-paralax{
	margin-top: 50px;
}
.section-card{
	position: relative;
	width: 100%;
	height: 500px;
}
.carta-principal{
	position: absolute;
	width: 400px;
	padding: 30px;
	left: 50%;
	margin-left: -200px;
	top: 20px;
}
.title-font-bot strong{
	font-size: 1.5em;
}
@media only screen and (max-width: 400px) and (min-width: 0px){
	.titulo-publica h2{
		font-size: 3.0em;
	}
	.carta-principal{
		width: 90%;
		margin-left: -45%;
	}

	.section-card{
		height: 600px;
	}
	figure{
		display: none;
	}
}
@media only screen and (max-width: 1366px) and (min-width: 1024px){
	.row figure img{
		margin-top: 61px;
	}
}
