.container-dashboard{
	min-height: 600px;
}
.padding_cards{
	padding: 10px;
}
.card_container{
	padding: 10px;
	margin:0;
}
.card_title{
	width: 100%;
	background: #212121;
	color: white;
	font-size: 1.5em;
}
.my_card{
	position: relative;
	background: white;
	min-height: 970px;
	max-height: 1200px;
}
.cards_container{
	position: relative;
	top: 60px;
	padding-top: 10px;
	min-height: 1000px;
	max-height: 1200px;
	background: #e0e0e0;
}
.row .col{
	padding: 0
}
.container_info{
	position: relative;
	padding: 10px;
}
.container_info .collection a.collection-item:hover:not(.active) {
    background-color: #ddd;
}
.container_info .collection a.collection-item {
	background: #424242;
    color: white;
}
.container_info .collection a.collection-item:hover {
    color: black;
}
.container_info .collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.container_info .collection a.collection-item {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    height: 50px;
}
.tabs {
	overflow: hidden;
	background: #424242;
}
.tabs .tab a {
    color: #fff;
}
.tabs .indicator {
    background-color: #fff;
}
.card_nuevo{
	position: relative;
	width: 100%;
}
.userform{
	margin-top: 20px;
}
.input-field label {
 	color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 	color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* icon prefix focus color */
.input-field .prefix.active {
 	color: white;
}
.icon_dashboard{
	color: white;
}
.tabs .tab a:hover {
    color: white;
}
/*displays*/
.portafolio_card, .social_user_mail, .productos_cad, .blog_cad, .card_mail{
	display: none; 
}
/*displays*/
.card_mail{
	position: relative;
	float: left;
	margin-left: 12px;
	top: -40px;
}
.card_dataname{
	width: 30%;
}
.card_datamensaje{
	width: 68%;
}
.navigation_menu_vertical{
	width: 60px;
}
.set_icon{
	position: absolute;
	background-color: rgba(10, 10, 10, 0.8);
	color: white;
	width: 100px;
	margin-left: 10px;
	border-radius: 20px;
	padding: 0;
}
.btn-floating:hover {
    background-color: rgba(10, 10, 10, 0.8);
}
.fixed-action-btn{
	width: 60px;
}
.padding_titles{
	padding: 20px 0 0 20px;
}
input{
	color: white;
}
textarea{
	color: white;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
 	color: white;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}
.padding{
	font-size: 1.5em;
	padding: 10px 0 10px 0;
}
.img-container{
	margin: 2px 0 0 0;
}
.radio-img{
	height: 50px;
	width: 50px;
	border-radius: 30px;
}
.padding-menu-search{
	height: 55px;
}
.icon-user-tie{
	margin-right: 20px; 
}
.side-nav .collapsible-body {
    background-color: #424242;
}
.side-nav a {
    color: #FFF;
}
.side-nav li:hover, .side-nav li.active {
    background: #424242;
}
.side-nav .collapsible-body ul li:hover {
    background: #616161;
}
.side-nav .collapsible-header{
	font-size: 0.90em;
}
.side-nav .collapsible-body li a {
    font-size: 0.90em;
}
.paddingmenu{
	padding: 10px 0 10px 0;
}