.icon-tabcontrol{
	position: relative;
	top: 7px;
	padding-right: 20px;
	font-size: 2em;
}
.margin-msn{
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: justify;
}
.tabs .tab a {
    color: #004d40;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .tab a:hover {
    color: #006b59;
}
.tabs .indicator {
    background-color: #1E88E5;
}

.absulut-title{
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Sansita One', cursive;
}
.container_empresa{
    position: relative;
    padding: 30px;
}
.btn-contacto{
    border: 5px solid #004d40;
    width: 200px;
    height: 50px;
    color: black;
    font-weight: bold;
}