.main-ctr

  .screen-ctr
    // content
    .content
      .par-ctr
        .par
        .par.half
      .img
      .par-ctr
        .par.half

    // nav
    .nav
      .fab-ctr
        .fab.ion-android-share-alt
        
    // ripple
    .ripple

    // links
    ul.links
      li.ion-social-twitter
      li.ion-social-facebook
      li.ion-social-googleplus
      li.close.ion-android-close